@*@page "/"*@
<link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />

<PageTitle>Evergreen</PageTitle>

<h1>Bienvenido al sistema de gestión empresarial de Evergreen</h1>

<SurveyPrompt Title="Evergreen" />
